@font-face {
  font-family: 'kalameh';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/fonts/KalamehWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'kalameh';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/KalamehWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'kalameh';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/KalamehWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'kalameh';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/KalamehWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'kalameh';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/KalamehWeb-Medium.woff) format('woff');
}
@font-face {
  font-family: 'kalameh';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/KalamehWeb-Bold.woff) format('woff');
}
